.mermaid svg {
    width: 100%;
    height: auto; /* Or set a specific max-height if needed */
    max-width: 100%;
    display: block; /* Ensures the SVG behaves as a block element */
    overflow: visible; /* Important to allow the content to expand */
  }
  
  .mermaid {
    overflow: auto; /*If the svg is still to large, this will add scroll bars to the mermaid div instead*/
    display: block;
  }
  
  .markdown-rendered .mermaid svg { /*Added to resolve rendering issues in live preview*/
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
    overflow: visible;
  }